.hadithTranslation {
  hadith-nas {
    font-size: 1.2em;
    color: var(--color-hadith);
  }
  &:lang(en) {
    direction: ltr;
    line-height: 1;
    font-family: var(--font-cairo);
    hadith-nas {
      @apply font-semibold;
    }
  }
  &:lang(ar),
  &:lang(ur) {
    direction: rtl;
  }
  &:lang(ar) {
    font-family: var(--font-arabic-normal);
    hadith-nas {
      font-family: var(--font-arabic-nas);
    }
  }
  &:lang(ur) {
    font-family: var(--font-urdu-normal);
    hadith-nas {
      font-family: var(--font-urdu-kasheeda);
    }
  }
}

.hadithArabic {
  font-family: var(--font-arabic-normal);
  hadith-nas {
    font-family: var(--font-arabic-nas);
    color: var(--color-hadith);
  }
}
