.hadithTranslation {
  .hadith-nas {
    font-size: 1.2em;
    color: var(--color-hadith);
  }
  .arabic {
    font-family: var(--font-arabic-nas);
    color: var(--color-hadith);

    &:lang(ur-IN) {
      font-size: 1em;
    }
    &:lang(en) {
      font-size: 1.2em;
      @apply font-normal leading-loose;
    }
    &:lang(ur-Latn) {
      font-size: 1.2em;
      @apply font-normal leading-loose;
    }
    &:lang(hi) {
      font-size: 1.2em;
      @apply font-normal leading-loose;
    }
  }

  &:lang(en) {
    font-family: var(--font-cairo);
    @apply leading-none;
    .hadith-nas {
      @apply font-semibold;
    }
  }
  &:lang(ur-Latn) {
    font-family: var(--font-cairo);
    @apply leading-none;
    .hadith-nas {
      @apply font-semibold;
    }
  }
  &:lang(hi) {
    font-family: var(--font-hindi);
  }
  &:lang(ar),
  &:lang(ur-IN) {
    direction: rtl;
  }
  &:lang(ar) {
    font-family: var(--font-arabic-normal);
    .hadith-nas {
      font-family: var(--font-arabic-nas);
    }
  }
  &:lang(ur-IN) {
    font-family: var(--font-urdu-normal);
    .hadith-nas {
      font-family: var(--font-urdu-kasheeda);
    }
  }
}

.hadithArabic {
  font-family: var(--font-arabic-normal);
  .hadith-nas {
    font-family: var(--font-arabic-nas);
    font-size: 1.5em;
    color: var(--color-hadith);
  }
}

.ramz {
  color: var(--color-hadith);
  font-weight: 100;
  &:lang(ar) {
    font-family: var(--font-arabic-ramz);
  }
  &:lang(ur-IN) {
    font-family: var(--font-urdu-kasheeda);
  }
  &:lang(en) {
    font-family: var(--font-arabic-ramz); 
    @apply leading-normal;
  }
  &:lang(ur-Latn) {
    font-family: var(--font-arabic-ramz); 
    @apply leading-normal;
  }
  &:lang(hi) {
    font-family: var(--font-urdu-kasheeda); 
    @apply leading-normal;
  }
}

.dome {
  clip-path: path(
    "m 0.64939153,20.933654 -0.0476538,-0.91223 C 0.49962237,20.001001 0.3634686,19.960154 0.24773788,19.858039 0.10477641,19.735501 0.02308414,19.585732 0.00266107,19.422347 -0.017762,19.204501 0.08435334,19.041116 0.13881485,18.959424 c 0.0680769,-0.115731 0.14296147,-0.177 0.23826913,-0.258692 0.0885,-0.07488 0.19061529,-0.142962 0.26549986,-0.183808 0.0136154,-0.129346 0.0476538,-0.374422 0.0816923,-0.592269 0.0476538,-0.279115 0.0885,-0.483345 0.0953077,-0.530999 0.10211529,-0.490154 0.21103836,-0.830538 0.36080756,-1.130077 0.074884,-0.149769 0.1293461,-0.224653 0.2110384,-0.29273 0.1021155,-0.0885 0.197423,-0.122539 0.2654998,-0.142962 0.06127,-0.02042 0.095308,-0.03404 0.1293461,-0.06808 0.040846,-0.04765 0.068077,-0.108923 0.074884,-0.177 0.00681,-0.06127 0,-0.122538 -0.020424,-0.177 -0.020424,-0.04765 -0.047654,-0.08169 -0.095308,-0.136153 -0.00681,-0.0068 -0.1906153,-0.224654 -0.2791153,-0.531 -0.081692,-0.292731 -0.027231,-0.544615 0,-0.646731 0.027231,-0.122538 0.108923,-0.367615 0.3131538,-0.612692 0.074885,-0.0885 0.2654997,-0.319961 0.6194996,-0.442499 0.1701922,-0.06127 0.3539998,-0.08169 0.5309998,-0.07488 l 0.027231,-0.292731 c 0.013615,-0.122539 0.095308,-0.231462 0.2178461,-0.272308 0.047654,-0.01362 0.1497691,-0.04085 0.5241921,-0.09531 C 4.6659266,10.892313 4.8905804,10.177506 4.8973881,10.170698 5.0948111,9.503544 4.9858871,9.149544 4.9450411,9.10189 4.8633491,8.992964 4.8769641,8.904467 4.8973881,8.850006 l 0.06127,-0.09531 0.074884,-0.02724 c 0.1838076,-0.06807 0.5718459,0.04765 0.8305381,0.183809 0.074884,0.04084 0.149769,0.0885 0.2178459,0.14296 L 7.4162332,7.740342 7.4843102,7.433996 c -0.020424,-0.09531 0,-0.197423 0.074884,-0.279116 0.095308,-0.108926 0.2450768,-0.14296 0.3744229,-0.0885 h 0.3471922 c 0,0 1.1096533,-0.728422 1.1096533,-0.728422 C 9.4108846,6.160959 9.4721546,5.929497 9.6287317,5.711651 9.7036157,5.609533 9.83977,5.41892 10.098463,5.323613 c 0.251884,-0.09531 0.476538,-0.05446 0.592269,-0.02043 0.149769,0.04765 0.231461,0.108927 0.306346,0.170193 0.05446,0.04085 0.09531,0.07488 0.177,0.108926 0.122538,0.05446 0.224654,0.04765 0.415269,0.04765 0.456115,-0.0068 0.762461,-0.190615 0.878192,-0.2655 0.142962,-0.0885 0.211039,-0.156576 0.217846,-0.183807 0.03404,-0.102118 -0.04765,-0.245077 -0.09531,-0.313154 -0.108926,-0.177 -0.367615,-0.4425 -0.680769,-0.449307 -0.0885,0 -0.245077,0 -0.326769,-0.136154 -0.102118,-0.163385 0.01362,-0.347193 0.07488,-0.449308 0.129346,-0.211039 0.245077,-0.394846 0.490154,-0.551423 0.401653,-0.258692 0.837345,-0.224653 1.123268,-0.204231 0.07488,0 0.142961,0.01362 0.204231,0.02043 0.49696,-1.756384 0.884999,-2.341845 0.898615,-2.362268 0.149769,-0.217846 0.313153,-0.422077 0.49696,-0.605885 L 14.999992,0 15.129338,0.129345 c 0.183808,0.183808 0.354,0.38804 0.496962,0.605885 0.01362,0.02723 0.408461,0.605884 0.898614,2.362268 0.06127,-0.0068 0.129346,-0.02043 0.204231,-0.02043 0.285923,-0.02042 0.721615,-0.04765 1.123268,0.204231 0.245077,0.156577 0.360808,0.340384 0.490154,0.551423 0.06127,0.102117 0.177,0.285923 0.07488,0.449308 -0.08169,0.136154 -0.245077,0.136154 -0.360808,0.136154 -0.279115,0.0068 -0.544615,0.272307 -0.653538,0.449307 -0.04765,0.07488 -0.129346,0.211038 -0.09531,0.313154 0.01362,0.02723 0.07488,0.09531 0.217846,0.183807 0.115732,0.06808 0.428885,0.258692 0.885,0.2655 0.183808,0 0.285923,0 0.415268,-0.04765 0.08169,-0.03404 0.12254,-0.06808 0.177,-0.108927 0.07488,-0.06127 0.156578,-0.122538 0.306347,-0.170192 0.11573,-0.03404 0.340384,-0.07488 0.592268,0.02043 0.258694,0.09531 0.394846,0.285923 0.469731,0.388038 0.156577,0.217846 0.217847,0.449307 0.238269,0.626307 l 1.109654,0.73523 h 0.347192 c 0.129346,-0.06127 0.279115,-0.02723 0.374423,0.08169 0.06808,0.08169 0.0885,0.183807 0.06808,0.279115 l 0.06807,0.306346 1.334307,1.313884 c 0.06807,-0.05446 0.142962,-0.102117 0.217846,-0.142961 0.258692,-0.136154 0.646731,-0.245077 0.830538,-0.183809 l 0.102118,0.04765 0.03404,0.07488 c 0.02723,0.05446 0.03404,0.142961 -0.04765,0.251884 -0.04085,0.04765 -0.14977,0.401654 0.04765,1.068808 0,0.0068 0.224653,0.721615 1.198153,2.130806 0.374423,0.05446 0.476538,0.07488 0.524192,0.0885 0.122538,0.04085 0.20423,0.149769 0.217846,0.272308 l 0.02724,0.29273 c 0.183807,-0.01361 0.360807,0.01362 0.530999,0.07489 0.354,0.122539 0.544616,0.354 0.6195,0.4425 0.211038,0.251885 0.285923,0.510577 0.313153,0.612692 0.02043,0.09531 0.08169,0.354 0,0.64673 -0.0885,0.306346 -0.272307,0.524193 -0.29273,0.551423 -0.03404,0.03404 -0.06127,0.06808 -0.08169,0.115731 -0.02043,0.05446 -0.02724,0.115731 -0.02043,0.177 0.01362,0.07489 0.03404,0.136154 0.08169,0.177 0.03404,0.03404 0.06127,0.04765 0.129345,0.06808 0.06808,0.02042 0.163385,0.05446 0.265501,0.142961 0.08169,0.06808 0.136153,0.142962 0.211037,0.292731 0.14977,0.299538 0.258693,0.639923 0.360809,1.130076 0.0068,0.04765 0.05446,0.251885 0.09531,0.531 0.03404,0.224654 0.06808,0.462923 0.08169,0.592269 0.06808,0.04085 0.177,0.108923 0.265501,0.183808 0.09532,0.0817 0.170205,0.149777 0.238281,0.2587 0.05446,0.0885 0.156578,0.245077 0.136154,0.462923 -0.02042,0.163398 -0.102116,0.306359 -0.245077,0.435705 -0.11573,0.102116 -0.245076,0.142962 -0.353999,0.163385 l -0.04765,0.91223 H 0.64939153 Z"
  );
}

.dome-inverted {
  clip-path: path(
    "M 0.64939153,0 0.60173771,0.91223033 C 0.49962237,0.9326534 0.3634686,0.97349954 0.24773788,1.0756149 0.10477641,1.1981532 0.02308414,1.3479224 0.00266107,1.5113069 -0.017762,1.729153 0.08435334,1.8925375 0.13881485,1.9742298 c 0.0680769,0.1157307 0.14296147,0.1769999 0.23826913,0.2586922 0.0885,0.074885 0.19061529,0.1429615 0.26549986,0.1838076 0.0136154,0.1293461 0.0476538,0.3744229 0.0816923,0.592269 0.0476538,0.2791153 0.0885,0.4833459 0.0953077,0.5309998 0.10211529,0.4901535 0.21103836,0.830538 0.36080756,1.1300763 0.074884,0.1497692 0.1293461,0.2246537 0.2110384,0.2927306 0.1021155,0.088501 0.197423,0.1225384 0.2654998,0.1429615 0.06127,0.020424 0.095308,0.034039 0.1293461,0.068077 0.040846,0.047654 0.068077,0.108923 0.074884,0.1769999 0.00681,0.061269 0,0.1225384 -0.020424,0.177 -0.020424,0.047654 -0.047654,0.081692 -0.095308,0.1361537 -0.00681,0.00681 -0.1906153,0.2246538 -0.2791153,0.5309998 -0.081692,0.2927307 -0.027231,0.5446151 0,0.6467304 0.027231,0.1225384 0.108923,0.3676152 0.3131538,0.612692 0.074885,0.088501 0.2654997,0.3199614 0.6194996,0.4424999 0.1701922,0.061269 0.3539998,0.081692 0.5309998,0.074884 l 0.027231,0.2927307 c 0.013615,0.1225384 0.095308,0.2314614 0.2178461,0.2723076 0.047654,0.013615 0.1497691,0.040846 0.5241921,0.095308 0.9666918,1.4091912 1.1913456,2.1239982 1.1981533,2.1308062 0.197423,0.667154 0.088499,1.021154 0.047653,1.068808 -0.081692,0.108926 -0.068077,0.197423 -0.047653,0.251884 l 0.06127,0.09531 0.074884,0.02724 c 0.1838076,0.06807 0.5718459,-0.04765 0.8305381,-0.183809 0.074884,-0.04084 0.149769,-0.0885 0.2178459,-0.14296 l 1.3343071,1.313883 0.068077,0.306346 c -0.020424,0.09531 0,0.197423 0.074884,0.279116 0.095308,0.108926 0.2450768,0.14296 0.3744229,0.0885 h 0.3471922 c 0,0 1.1096533,0.728422 1.1096533,0.728422 0.020422,0.176999 0.081692,0.408461 0.2382691,0.626307 0.074884,0.102118 0.2110383,0.292731 0.4697313,0.388038 0.251884,0.09531 0.476538,0.05446 0.592269,0.02043 0.149769,-0.04765 0.231461,-0.108927 0.306346,-0.170193 0.05446,-0.04085 0.09531,-0.07488 0.177,-0.108926 0.122538,-0.05446 0.224654,-0.04765 0.415269,-0.04765 0.456115,0.0068 0.762461,0.190615 0.878192,0.2655 0.142962,0.0885 0.211039,0.156576 0.217846,0.183807 0.03404,0.102118 -0.04765,0.245077 -0.09531,0.313154 -0.108926,0.177 -0.367615,0.4425 -0.680769,0.449307 -0.0885,0 -0.245077,0 -0.326769,0.136154 -0.102118,0.163385 0.01362,0.347193 0.07488,0.449308 0.129346,0.211039 0.245077,0.394846 0.490154,0.551423 0.401653,0.258692 0.837345,0.224653 1.123268,0.204231 0.07488,0 0.142961,-0.01362 0.204231,-0.02043 0.49696,1.756384 0.884999,2.341845 0.898615,2.362268 0.149769,0.217846 0.313153,0.422077 0.49696,0.605885 l 0.129347,0.129345 0.129346,-0.129345 c 0.183808,-0.183808 0.354,-0.38804 0.496962,-0.605885 0.01362,-0.02723 0.408461,-0.605884 0.898614,-2.362268 0.06127,0.0068 0.129346,0.02043 0.204231,0.02043 0.285923,0.02042 0.721615,0.04765 1.123268,-0.204231 0.245077,-0.156577 0.360808,-0.340384 0.490154,-0.551423 0.06127,-0.102117 0.177,-0.285923 0.07488,-0.449308 -0.08169,-0.136154 -0.245077,-0.136154 -0.360808,-0.136154 -0.279115,-0.0068 -0.544615,-0.272307 -0.653538,-0.449307 -0.04765,-0.07488 -0.129346,-0.211038 -0.09531,-0.313154 0.01362,-0.02723 0.07488,-0.09531 0.217846,-0.183807 0.115732,-0.06808 0.428885,-0.258692 0.885,-0.2655 0.183808,0 0.285923,0 0.415268,0.04765 0.08169,0.03404 0.12254,0.06808 0.177,0.108927 0.07488,0.06127 0.156578,0.122538 0.306347,0.170192 0.11573,0.03404 0.340384,0.07488 0.592268,-0.02043 0.258694,-0.09531 0.394846,-0.285923 0.469731,-0.388038 0.156577,-0.217846 0.217847,-0.449307 0.238269,-0.626307 l 1.109654,-0.73523 h 0.347192 c 0.129346,0.06127 0.279115,0.02723 0.374423,-0.08169 0.06808,-0.08169 0.0885,-0.183807 0.06808,-0.279115 l 0.06807,-0.306346 1.334307,-1.313884 c 0.06807,0.05446 0.142962,0.102117 0.217846,0.142961 0.258692,0.136154 0.646731,0.245077 0.830538,0.183809 l 0.102118,-0.04765 0.03404,-0.07488 c 0.02723,-0.05446 0.03404,-0.142961 -0.04765,-0.251884 -0.04085,-0.04765 -0.14977,-0.401654 0.04765,-1.068808 0,-0.0068 0.224653,-0.721615 1.198153,-2.130806 0.374423,-0.054462 0.476538,-0.074884 0.524192,-0.088501 0.122538,-0.040846 0.20423,-0.1497691 0.217846,-0.2723075 l 0.02724,-0.2927307 c 0.183807,0.013615 0.360807,-0.013615 0.530999,-0.074885 0.354,-0.1225384 0.544616,-0.3539998 0.6195,-0.4424998 0.211038,-0.2518845 0.285923,-0.5105767 0.313153,-0.6126919 0.02043,-0.095308 0.08169,-0.3539999 0,-0.6467305 -0.0885,-0.306346 -0.272307,-0.5241921 -0.29273,-0.5514228 -0.03404,-0.034039 -0.06127,-0.068077 -0.08169,-0.1157308 -0.02043,-0.054462 -0.02724,-0.1157307 -0.02043,-0.1769999 0.01362,-0.074885 0.03404,-0.1361538 0.08169,-0.1769999 0.03404,-0.034039 0.06127,-0.047653 0.129345,-0.068077 0.06808,-0.020423 0.163385,-0.054461 0.265501,-0.1429615 0.08169,-0.068077 0.136153,-0.1429614 0.211037,-0.2927306 0.14977,-0.2995383 0.258693,-0.6399227 0.360809,-1.1300763 0.0068,-0.047654 0.05446,-0.2518846 0.09531,-0.5309998 0.03404,-0.2246538 0.06808,-0.4629229 0.08169,-0.592269 0.06808,-0.040846 0.177,-0.108923 0.265501,-0.1838076 0.09532,-0.0817 0.170205,-0.1497777 0.238281,-0.2587007 0.05446,-0.088499 0.156578,-0.2450768 0.136154,-0.4629228 C 29.976917,1.3547301 29.895223,1.2117687 29.752262,1.0824226 29.636532,0.98030723 29.507186,0.93946109 29.398263,0.91903802 L 29.350609,0.00680769 H 0.64939153 Z"
  );
}
