.hadithTranslation {
  .hadith-nas {
    font-size: 1.5em;
    color: var(--color-hadith);
  }

  &:lang(en) {
    @apply leading-4;
    font-family: var(--font-cairo);
    .hadith-nas {
      @apply font-semibold;
    }
  }
  &:lang(ar),
  &:lang(ur) {
    direction: rtl;
  }
  &:lang(ar) {
    font-family: var(--font-arabic-normal);
    .hadith-nas {
      font-family: var(--font-arabic-nas);
    }
  }
  &:lang(ur) {
    font-family: var(--font-urdu-normal);
    .hadith-nas {
      font-family: var(--font-urdu-kasheeda);
    }
  }
}

.hadithArabic {
  font-family: var(--font-arabic-normal);
  .hadith-nas {
    font-family: var(--font-arabic-nas);
    font-size: 1.5em;
    color: var(--color-hadith);
  }
}

.ramz {
  color: var(--color-hadith);
  &:lang(ar) {
    font-family: var(--font-arabic-ramz);
  }
  &:lang(ur) {
    font-family: var(--font-urdu-kasheeda);
  }
  &:lang(en) {
    font-family: var(--font-arabic-ramz);
  }
}
